.login-form {
  padding: 2em !important;
  width: 500px;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }

.login-form label {
  font-size: 1.4rem !important;
  margin-bottom: 1em !important; }

.login-form button {
  font-size: 1.4rem !important; }
